.classic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.card1 .card2 .card3 .card4 {
    height: 21rem;
}

.pizzos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.card5 .card6 .card7 .card8 {
    height: 21rem;
}

.bread {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cake {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

